<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- moment.js is the JavaScript equivalent of arrow.py -->
  <script
    src="{{ url_for('static', filename="js/moment.min.js") }}"></script>

</head>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/calc.css" />

<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">

<h1>ACP Brevet Times</h1>
  <p>This worksheet is for ACP-sanctioned brevets between 200 and 1000 kilometers</p>

  <!--
  -- If there are any warnings or other messages from a prior
  -- request to the server,
  -- they appear above the rest of the content, just until the next
  -- action.  (This is only on request/response transactions that
  -- result in regenerating the page, not on every xmlhttp request.)
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!-- Design on bootstrap grid -->
<form role="form">
<div class="row">
  <div class="col-md-4">
    <label>Distance</label>
  <select name="distance" id="brevet_dist_km">
    <option value="200">200km</option>
    <option value="300">300km</option>
    <option value="400">400km</option>
    <option value="600">600km</option>
    <option value="1000">1000km</option>
  </select>
  </div> <!-- columns 1--4  -->
  <div class="col-md-6">
    <label>Begins at</label>
    <input type=date name="begin_date" id="begin_date" value="2020-11-10" />
    <input type=time name="begin_time" id="begin_time" value="08:00" />
    <button type="button" id="submit-btn" onclick="confirm_submission()" style="margin-left:15px;">Submit</button>
    <button type="button" id="display-btn" onclick="display()">Display</button>
  </div> <!-- columns 5-10 -->
  <p id="dbFeedback" class="notes"></p> <!-- left blank to adjust later -->
  </div> <!-- row -->

  <br />  <!-- Cosmetic - a little vertical space -->
  <!-- Although we do not use tables for general page layout, they are
       appropriate for something that really is a table, like this
       one.  We allocate it the full 12 columns of the bootstrap grid.
  -->
  <div class="row">
  <div class="col-md-12">
  <table class="control_time_table" id="tbl">
      <tr>
	<th> Miles </th>
	<th> Km </th>
	<th>Location</th>
	<th>Open</th>
	<th>Close</th>
	<th>Notes</th>
      </tr>
   {% for row in range(20) %}
        <tr class="control">
          <!-- Dist (mi) -->
          <td><input name="miles" type="number"
               min="0" max="900" size="5" /></td>
          <!-- Dist (km) -->
          <td><input name="km" type="number"
           min="0" max="1100" size="5" /> </td>
          <!-- Location (optional) -->
          <td><input name="location" type="text"
            placeholder="Optional location name"
        size="20" /> </td>
          <!-- Open time (read only, set by JavaScript function -->
          <td><input name="open" type="datetime" value="" readonly /></td>
          <!-- Close time (read only, set by JavaScript function -->
          <td><input name="close" type="datetime" value="" readonly /></td>
          <!-- Notes (error messages for this row) -->
          <td name="note" class="notes"></td>
        </tr>
    {% endfor %}
  </table>
  </div> <!-- col -->
  </div> <!-- row -->

</form>

<script type="text/javascript">
    var SCRIPT_ROOT = {{ request.script_root|tojson|safe }} ;
    var TIME_CALC_URL = SCRIPT_ROOT + "/_calc_times";
    var DROP_COLLECTION = SCRIPT_ROOT + "/_drop";
    var NEW_ENTRY = SCRIPT_ROOT + "/_add";
    var DBFB = document.getElementById("dbFeedback");

    function confirm_submission() {
        DBFB.textContent = "Controls submitted.";
        console.log("Dropping previous collection.");
        $.post(DROP_COLLECTION, { }, function(data, status) { // response handler
                console.log("Attempting to drop collection. Status: " + status);

                var controls = document.getElementsByClassName("control");
                var entries = [];

                for (let c of controls) {
                    let km = c.children[1].children[0]; // td -> input[name='km']
                    if (km.value != "") { // if km field is non-empty...
                        console.log("Verified control at " + km.value + " km.");

                        entries.push({
                            miles: c.children[0].children[0].value,
                            km: km.value,
                            location: c.children[2].children[0].value,
                            open: c.children[3].children[0].value,
                            close: c.children[4].children[0].value,
                            note: c.children[5].innerHTML
                        }); // end push

                        if (c.children[5].innerHTML != "") { // if the control has a warning
                            DBFB.textContent = "Warning: Possible error detected. You should probably fix the warning in the Notes section below."
                        }
                    } // end if
                } // end for

                if (entries.length == 0) { // Error: no valid entries.
                    DBFB.textContent = "Error: no valid controls.";
                    console.log("Error: no valid controls")
                } else {
                    for (let c of entries) {
                        $.post(NEW_ENTRY, c, function(data, status) { // response handler
                                console.log("Control sent. Status: " + status);
                              } // end of handler function
                          ); // End of POST
                    } // end for c in entries

                    DBFB.textContent = "Controls submitted.";
                } // end if entries.length != 0

              } // end of handler function
          ); // End of POST
    } // end confirm_submission

    function display() {
        console.log("Displaying times...");
        DBFB.textContent = "Displaying times.";
        window.location.href = "/display";
    }

    // Set 'Date' field to today's date.
    $('#begin_date').val(moment().format('YYYY-MM-DD'));

    // var BREVET_DIST_KM = 200; // defaults to 200km race
    var txt = $('#brevet_dist_km').find('option:selected').text();
    var BREVET_DIST_KM = parseInt(txt.substring(0, txt.length - 2)); // trim 'km'
    var MAX_DIST = 0; // furthest current control
    var DISTANCES = [];

    function get_initial_ISO() {
        // function to return the initial start moment in ISO format
        var start_date = $("#begin_date").val();
        var start_time = $("#begin_time").val();
        var initial = moment(start_date + " " + start_time, "YYYY-MM-DD HH:mm");
        return initial.toISOString(); // convert from moment to ISO 8601
    }

    function calc_times(control) {
        var km_field = control.find("input[name='km']");
        var km = km_field.val();
        var open_time_field = control.find("input[name='open']");
        var close_time_field = control.find("input[name='close']");
        var notes_field = control.children()[5];

        var my_index = $(control).index() - 1; // get index of control

        $.getJSON(TIME_CALC_URL, { // inputs to acp_times functions
            km: km,
            selected_dist: BREVET_DIST_KM,
            initial: get_initial_ISO()
        }, function(data) { // response handler
            var times = data.result;
            notes_field.innerHTML = ""; // clear previous notes

            console.log("Got a response: " + times);
            console.log("Response.open = " + times.open);

            if (isNaN(Number(km)) || km == "") {
                // clear previous entries
                km_field.val("");
                open_time_field.val("");
                close_time_field.val("");
                return;
            }

            var open = moment(times.open);
            var close = moment(times.close);

           if (km <= max_dist_to_here(my_index)) {
               notes_field.innerHTML = "Warning: invalid order. Maybe reorder \
               the controls?<br />";
           }

            if (km > 1.2 * BREVET_DIST_KM) { // check that control location doesn't exceed 120% of brevent distance
                notes_field.innerHTML = "Control location is more than 20% over \
                the selected distance. Maybe extend the brevet distance?<br />";
            }

            if (close.isBefore(open)) { // check that duration is valid
                console.log("Invalid time!");
                notes_field.innerHTML = "Error: Control opens after race \
                duration ends. Extend brevet distance or reduce control \
                distance.<br />";
            }

            if (km > 1000) { // check that control location doesn't exceed 120% of brevent distance
                notes_field.innerHTML += "Warning: total distance is greater than \
                the max ACP-sanctioned brevet distance of 1000km.<br />";
            }

            // set open and close time fields
            open_time_field.val(open.format("ddd M/D H:mm"));
            close_time_field.val(close.format("ddd M/D H:mm"));

          } // end of handler function
        ); // End of getJSON
    }// end calc_times

    function max_dist_to_here(x) {
        DISTANCES = [];

        var controls = document.getElementsByClassName("control");

        for (let i = 0; i < x; i++) {
            let km = controls[i].children[1].children[0];
            if (km.value != "") { // if km field is non-empty...
                DISTANCES.push(km.value);
            }
        }

        return Math.max(...DISTANCES); // return the max dist to this point
    }

    function update_controls() {
        // vanilla JS solution; trigger change event on non-empty controls
        var controls = document.getElementsByClassName("control");
        for (let c of controls) {
            let km = c.children[1].children[0]; // td -> input[name='km']
            if (km.value != "") { // if km field is non-empty...
                km.dispatchEvent(new Event('change')); // ->trigger change event
            }
        } // end for
    }

    $(document).ready(function(){
        // Do the following when the page is finished loading
        $('input[name="miles"]').change(
        function() {
         var miles = parseFloat($(this).val());

         if (miles < 0) {
             $(this).val("0.0");
             miles = 0.0;
         }

         var km = (1.609344 * miles).toFixed(1);
         console.log("Converted " + miles + " miles to " + km + " kilometers");
         var control_entry = $(this).parents(".control")
         var target = control_entry.find("input[name='km']");
         target.val( km );
         // Then calculate times for this entry
         calc_times(control_entry);

         // update_distances();
        });

        $('input[name="km"]').change(
        function() {
         if ($(this).val() != "") {
             var km = parseFloat($(this).val());
             if (km < 0) {
                 $(this).val("0.0");
                 km = 0.0;
             }
             var miles = (0.621371 * km).toFixed(1) ;
             console.log("Converted " + km + " km to " + miles + " miles");
         }
         var control_entry = $(this).parents(".control")
         var target = control_entry.find("input[name='miles']");
         target.val( miles );
         // Then calculate times for this entry
         calc_times(control_entry);

         // update_distances();
        });

        $('select[name="distance"]').change(
        function() {
        // update selected distance var
        var txt = $('#brevet_dist_km').find('option:selected').text();
        console.log("selected: " + txt);
        BREVET_DIST_KM = parseInt(txt.substring(0, txt.length - 2)); // trim 'km'
        update_controls();
        });

        $('input[name="begin_date"]').change(function() {
            var initial = get_initial_ISO();
            $("#prev_start").val(initial);
            $("#prev_end").val(initial);
            console.log("start: " + initial);

            update_controls();
        });

        $('input[name="begin_time"]').change(
        function() {
         var initial = get_initial_ISO();
         $("#prev_start").val(initial);
         $("#prev_end").val(initial);
         console.log("start: " + initial);
         update_controls();
        });

        $('#submit-btn').click(function(){
            // Disable button temporarily to prevent it from being pressed repeatedly.
            $("#submit-btn").attr('disabled', true);
            setTimeout(function(){ $("#submit-btn").attr('disabled', false); }, 500);
        });
    }); // end of what we do on document ready

    window.onload = function() {
        var txt = $('#brevet_dist_km').find('option:selected').text();
        BREVET_DIST_KM = parseInt(txt.substring(0, txt.length - 2)); // trim 'km'
        update_controls(); // call on page load to refresh controls when clicking backa
    };

</script>

</div>
</body> </html>
