<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
    <title>Time Display - CSV</title
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/display.css" />
</head>

<body>
    <p>{{ header }}<p>

    {% for item in items %}
        <p>{{ item }}<p>
    {% endfor %}
</body>
</html>
